.nav-tabs{
	border-bottom:4px solid #66ffcc;
	width:755px;
}
.coincollecting{
	color:brown;
	font-size:40px;
	padding-left:670px;
	padding-top:20px;
}
.coinarticle{
	font-size:20px;
	padding-left:200px;
	padding-right:200px;
	padding-top:20px;
}
#border253{
border:5px solid #0b12fd;
margin-top:5px;
height:760px;
margin-left:73px;
margin-right: 50px

}
#bodyheight{
	height:700px;

}
#bodywidth{
	width:1915px;
	margin-right:-10px;
	margin-left:-10px;
}